/* * {
  outline: 1px solid #f00 !important;
} */
:root {
  --col-zero: #ffffff;
  --col-one: #ffc94a;
  --col-two: #c08b5c;
  --col-three: #795458;
  --col-four: #453f78;
  --col-bg: #453f78;
  --col-boh: #967e76;
  --body-text: "Poppins", sans-serif;
  --footer-text: "Cutive Mono", monospace;
}
body {
  font-family: var(--body-text);
  text-align: center;
  background-color: var(--col-bg);
  line-height: 1.5;
  zoom: 0.8;
  color: var(--col-two);
}
.circle {
  display: block;
  margin: 20px auto;
  width: 600px;
  height: 600px;
  background: linear-gradient(to top, var(--col-two) 0%, var(--col-three) 100%);
  border-radius: 50%;
}
.circle-container {
  padding: 60px 10px;
}
.Weather-app h1 {
  color: var(--col-one);
  font-size: 46px;
  font-weight: 250;
  margin: 10px 0 0 0;
  line-height: 1.25;
}

.Weather-app img {
  height: 60px;
  display: inline-block;
}

a {
  color: var(--col-zero);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: var(--col-one);
}
.Weather-app form {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  max-width: 50%;
}

.input-branding,
.btn-branding {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  color: var(--col-one);
  background-color: var(--col-bg);
  border: 1px solid var(--col-one);
}

.btn-branding:hover {
  color: var(--col-one);
  background-color: var(--col-three);
  border: 1px solid var(--col-one);
  border-radius: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 14px;
  font-family: var(--footer-text);
  color: var(--col-two);
}

@media (max-width: 1200px) {
}

@media (max-width: 960px) {
}
@media (max-width: 768px) {
  .circle {
    margin: 5px auto;
    width: 560px;
    height: 560px;
  }

  h1 {
    font-size: 37px;
  }

  input {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .circle {
    margin: 5px auto;
    width: 460px;
    height: 460px;
  }
}
